$primary-background-color: #202225;
$secondary-background-color: #292b2f;
$tiertary-background-color: #2f3136;

$primary-btn-color: #40444b;
$secondary-btn-color: #424549;

$error-color:hsl(0, 76%, 61%);

$primary-text-color: #99aab5;
$secondary-text-color:#40444b;

$accent-color: #7289da;