.password-con {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px 0;
    padding: 2rem;
    position: relative;

    .title-section {
        font-size: 1.5em;
        color: $accent-color;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 3px solid $accent-color;
    }

    .option-filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        margin: 15px 0;

        .search-bar {
            input {
                width: 200px;
                padding: 0.6rem;
                border: 2px solid $secondary-background-color;
                border-radius: 5px;
                background-color: $tiertary-background-color;
                color: $primary-text-color;

                &:focus {
                    outline: none;
                    border-color: $accent-color;
                }
            }
        }

        .add-password-btn {
            padding: 0.5rem 0.8rem;
            background-color: $accent-color;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 0 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;

            i {
                font-size: 1.5em;
            }

            &:hover {
                background-color: darken($accent-color, 10%);
            }
        }
    }

    .password-list-con {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px 0;

        .category-title {
            display: flex;
            align-content: center;
            align-items: center;
            gap: 10px;
            font-size: 1.5em;
            color: $accent-color;
            width: 100%;

            .show-category {
                cursor: pointer;
                font-size: 1.8em;
            }

            .bar {
                height: 5px;
                flex-grow: 1;
                background-color: $tiertary-background-color;
                border-radius: 2em;
            }
        }

        .password-list-data {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 0 2em;
            gap: 10px;

            .password-item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0 20px;
                padding: 1rem;
                border-radius: 5px;
                background-color: $tiertary-background-color;
                color: $primary-text-color;
                transition: all 0.5s ease;

                .option {
                    font-size: 1.5em;
                    transition: all 0.5s ease;

                    i {
                        cursor: pointer;

                        &:hover {
                            color: $accent-color;
                        }
                    }

                    .dropdown-content {
                        display: block;
                        position: absolute;
                        margin: 0 15px;
                        background-color: $primary-background-color;
                        min-width: 160px;
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        border: 2px solid $accent-color;
                        box-shadow: 0px 0px 0px 2px rgba(74, 157, 236, 0.2);
                        border-radius: 10px;

                        button {
                            width: 100%;
                            padding: 12px 16px;
                            border: none;
                            background: none;
                            color: $primary-text-color;
                            text-align: left;
                            cursor: pointer;
                            border-radius: 10px;

                            &:hover {
                                background-color: $secondary-background-color;
                            }
                        }
                    }
                }

                .password-data {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px 0;
                    width: 100%;

                    .input-con {
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: 100%;

                        input,
                        textarea {
                            border: 2px solid transparent;
                            width: 100%;
                            height: 3em;
                            padding-left: 1em;
                            padding-right: 5em;
                            outline: none;
                            overflow: hidden;
                            background-color: $primary-background-color;
                            border-radius: 10px;
                            transition: all 0.5s;
                            color: $primary-text-color;

                            &.required-field {
                                border: $error-color 2px solid;
                                color: $error-color;
                            }
                        }

                        input:hover,
                        input:focus,
                        textarea:hover,
                        textarea:focus {
                            border: 2px solid $accent-color;
                            box-shadow: 0px 0px 0px 2px rgba(74, 157, 236, 0.2);
                            background-color: $secondary-background-color;
                        }

                        .toggle-password-btn,
                        .copy-clipboard-btn {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            background: none;
                            border: none;
                            z-index: 1;
                            cursor: pointer;

                            &:hover,
                            &:focus {
                                border: none;
                                box-shadow: none;
                            }

                            i {
                                font-size: 1rem;
                                color: $accent-color;
                            }
                        }

                        .toggle-password-btn {
                            right: 3em;
                        }

                        .copy-clipboard-btn {
                            right: 1em;
                        }

                        textarea {
                            height: fit-content;
                            max-height: 300px;
                            padding: 1em;
                            resize: none;
                        }
                    }
                }
            }

            .password-item:hover {
                background-color: $secondary-background-color;
                cursor: pointer;
            }

            .password-item .title {
                font-size: 1.2em;
            }

            .password-item .password {
                font-size: 1.1em;
            }
        }
    }

    .copy-popup {
        position: absolute;
        bottom: 2rem;
        background-color: $accent-color;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        animation:
            fadeIn 0.5s,
            fadeOut 0.5s 1.5s;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            gap: 20px;
            background-color: $primary-background-color;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            height: fit-content;
            min-width: 350px;
            width: fit-content;

            h2 {
                margin-top: 0;
                color: $accent-color;
            }

            .input-con {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;

                input,
                textarea {
                    width: calc(100% - 1rem);
                    padding: 0.5rem;
                    border: 2px solid $secondary-background-color;
                    border-radius: 5px;
                    background-color: $tiertary-background-color;
                    color: $primary-text-color;
                    resize: vertical;
                    max-height: 500px;

                    &:focus {
                        outline: none;
                        border-color: $accent-color;
                    }
                }

                .toggle-password-btn {
                    position: absolute;
                    top: 50%;
                    right: 41px;
                    transform: translateY(-50%);
                    background: none;
                    border: none;
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        border: none;
                        box-shadow: none;
                    }

                    i {
                        font-size: 1rem;
                        color: $accent-color;
                    }
                }
            }

            .btn-modal {
                width: 100%;

                display: flex;
                justify-content: end;
                gap: 10px;
                
                button {
                    width: 100%;
                    padding: 0.5rem 0.8rem;
                    background-color: $accent-color;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .cancel-btn {
                    background-color: $error-color;

                    &:hover {
                        background-color: darken($error-color, 10%);
                    }
                }

                .save-btn {
                    background-color: $accent-color;

                    &:hover {
                        background-color: darken($accent-color, 10%);
                    }
                }
            }
        }
    }
}
